
.boardingpass .destinations {
    margin: 0;
    padding: 0;
    position: relative;
}
.boardingpass .options {
    height: 70px;
    padding-top: 15px;
    text-align: center;
}
.boardingpass .endGame {
    padding:50px;
}
.boardingpass .options .icon {
    display: inline-flex;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.boardingpass .options .icon:hover {
    background:#F0F0F0;
}
.boardingpass .options .icon span {
    line-height: 40px;
    font-size: 13px;
}
.boardingpass .options .icon img {
    height: 40px;
    width: 40px;
}
.boardingpass .destinations li.questions {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E3E3E3;
    color: #333;
    position: relative;
    text-align: left;
    background-color:#F9F9F9;
}
.boardingpass .destinations li.questions:nth-child(odd) {
    background-color:#FFFFFF;
}
.boardingpass .destinations li .ID {
    padding: 10px;
    display: inline-block;
    float: left;
    line-height: 40px;
    border-right: 1px solid #E3E3E3;
}
.boardingpass .destinations li .infos {
    padding: 0px;
    display: inline-block;
    overflow: hidden;
    float:left;
    padding-left:10px;
}
.boardingpass .destinations li .infos .question {
    font-size: 12px;
    padding-top:10px;
}
.boardingpass .destinations li .line {
    width:100%;
    display: inline-flex;
}
.boardingpass .destinations li .answer {
    padding:10px;
    padding-left:0px;
    width:100%;
}
.boardingpass .destinations li .answer span {
    font-size: 12px;
}

.boardingpass .destinations .actions {
    display: inline-flex;
    height: 50px;
    margin: 0;
    padding: 0;
    float: right;
    right:0;
    position:absolute;
    background-color:#F9F9F9;
}
.boardingpass .destinations .actions li {
    display:inline-block;
    width:48px;
    height:48px;
    margin:2px;
    border:none;
    float:right;

}

.boardingpass .destinations li.questions:nth-child(odd) .actions {
    background-color:#FFFFFF;
}
.section_tab {
    padding-bottom:0px;
}
/*
.section_tab p{
    display: none;
}
*/
.settingsForm {
    padding:20px;
    border-bottom:1px solid #E3E3E3;
    margin:0;
    padding:0;
    width:90%;
    max-width: 550px;
    left:0;
    right:0;
    margin:auto;
}
.settingsForm .line {
    width:100%;
    list-style: none;
    border-bottom:1px solid #CCCCCC;
    text-align: left;
    font-weight: bold;
    padding:10px;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
    height:70px;
}
.settingsForm .line label {
    float:left;
}
.settingsForm .line input {
    float:right;
    position: absolute;
    right:0;
}
.task_list {
    margin:0;
    padding:0;
    width:100%;
    max-width: 550px;
    left:0;
    right:0;
    margin:auto;
}
.task_list li {
    width:100%;
    list-style: none;
    border-bottom:1px solid #CCCCCC;
    text-align: left;
    font-weight: bold;
    padding:10px;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
}
input[type="time"]{
    font-size: 30px;
}
.section_tab p,
.section_tab h3{
    display: none;
}