<div class="screen">
  <div class="wrapper" id="screen_wrapper">
    <div class="scroller">
      <h1>BIENVENUE</h1>
      <p>
        Pour commencer, veuillez indiquer un pseudo ou un nom de groupe :
      </p>
      <form action="">
        <input type="text" id="pseudo" name="pseudo"/>
        <button id="connect_button" class="classic_button">Valider</button><br/>
      </form>
      <!--<p>L’applciation peut-être utilisée par plusieurs personnes ou groupes de personnes
    de façon simulatnée, c’est pourquoi il est important de vous identifier si vous êtes
    régis tapez régis de préférence, ce pseudo est unique et attribué par defaut.
    <br/>
    Votre pseudo ou nom de groupe sera affiché (ou pas) sur l’application N’JOY
    selon le type d’activité que régis aura choisi !
    <br/>
    À savoir : Lors du lancement d’une activité, la première personne à se connecter
    sera automatiquement Régis le régisseur..</p>
      <a href="#" onclick="return false;" class="hyperlink">En savoir plus sur cette opération</a>
      <div class="panel-infos">
        <div class="icon">
          <img src="img/box_conf_success.svg">
        </div>
        <p>L’application est correctement configurée et prête à l’utilisation !</p>
      </div>
    </div>
    </div>-->
</div>
