<div class="ui">
  <div class="notification">
    <div class="cross_close">
      <i class="material-icons">close</i>
    </div>
    <% if(typeof icon !== "undefined"){ %>
      <div class="icon"><%= icon %></div>
    <% } %>
    <% if(typeof title !== "undefined"){ %>
      <div class="title"><%= title %></div>
    <% } %>
    <% if(typeof message !== "undefined"){ %>
      <div class="message"><%= message %></div>
    <% } %>
  </div>
</div>
