<div class="ui full" id="popin_ui_content">
  <div class="popin">
    <% if(typeof illus!=="undefined"){ %>
        <div class="illus" style="background-image:url(<%= illus %>);"></div>
        <div class="cross white" id="close_popin"></div>
    <% }else{ %>
        <div class="cross" id="close_popin"></div>
    <% } %>
    <% if(typeof title!=="undefined"){ %>
        <h2><%= title %></h2>
    <% } %>
    <% if(typeof message!=="undefined"){ %>
        <p><%= message %></p>
    <% } %>
    <% if(typeof buttons!=="undefined"){ %>
    <div class="buttons">
        <% for(var i=0; i<buttons.length; i++){ %>
            <button class="classic_button <% if(typeof buttons[i].class !== "undefined"){ %><%= buttons[i].class %><% } %>" id="<%= i %>" data-popbutton="<%= i %>"><%= buttons[i].label %></button>
        <% } %>
    </div>
    <% } %>
  </div>
</div>
