<div class="screen">
  <canvas id="drawer" class="drawer"></canvas>
  <div class="pencil_menu">
    <ul class="sizes">
      <li data-size="10"></li>
      <li data-size="20"></li>
      <li data-size="30"></li>
    </ul>
    <ul class="colors">
      <li data-color="#000000" style="background-color:#000000;"></li>
      <li data-color="#0000FF" style="background-color:#0000FF;"></li>
      <li data-color="#FF0000" style="background-color:#FF0000;"></li>
      <li data-color="#7AC943" style="background-color:#7AC943;"></li>
    </ul>
  </div>
</div>
