<div class="screen">
  <canvas id="drawer" class="drawer"></canvas>
  <div class="open_close_pencil_menu">
    <img src="img/open_close_pencil_menu_icon.svg" height="50"/>
  </div>
  <div class="pencil_menu">
    <ul class="sizes">
      <li class="selected" data-size="10"></li>
      <li data-size="20"></li>
      <li data-size="30"></li>
      <li data-size="40"></li>
    </ul>
    <ul class="colors">
      <li class="selected" data-color="#000000" style="background-color:#000000;"></li>
      <li data-color="#FFFF00" style="background-color:#FFFF00;"></li>
      <li data-color="#7AC943" style="background-color:#7AC943;"></li>
      <li data-color="#3FA9F5" style="background-color:#3FA9F5;"></li>
      <li data-color="#662D91" style="background-color:#662D91;"></li>
      <li data-color="#ED1E79" style="background-color:#ED1E79;"></li>
      <li data-color="#FF0000" style="background-color:#FF0000;"></li>
      <li data-color="#FFFFFF" style="background-color:#FFFFFF;">
        <img src="img/gum_icon.svg" height="50"/>
      </li>
    </ul>
    <ul class="tools">
      <li data-clearcanvas="true">
        <img src="img/clear_icon.svg" height="50"/>
      </li>
    </ul>
  </div>
</div>
