html{overflow:hidden;}
header{
    display:none;
}
.app{
    top:0 !important;
}
.receptor{
    width:100% !important;
    max-width:100% !important;
    height:100% !important;
    background-image:url(../../img/logo.svg);
    background-size: 50% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.receptor .module{
    width:100%;
    height:100%;
    box-sizing: border-box;
    display:block;
}
.receptor h1{
  margin:10px;
}
.receptor h3{
  padding:20px;
  margin:0;
  font-size: 30px;
  font-weight: 100;
  color:#FFF;
 text-transform: uppercase;
}
/* ----------------- CHRONOS ------------------------- */
.chronos{
    position: absolute;
    width:100%;
}
.chronos.fullscreen{
    height:100%;
}
.chronos.bottom{
    height:100px;
    bottom:0;
}
.chronos.top{
    height:100px;
    top:0;
}
.chronos .counter{
    color:#FFFFFF;
    font-weight: bold;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    font-size: 20px;
    padding:20px;
    z-index: 9;
    background-color:#000;
    border-radius: 100%;
    display: table;
    width:100px;
    height:100px;
    text-align: center;
}
.chronos.fullscreen .counter{
    font-size: 200px;
}
.chronos .timelap{
    width:100%;
    height:100%;
    background-color:#E3E3E3;
    position: relative;
}
.chronos .timelap .progress{
    width:0%;
    height:100%;
    background-color:#333;
}
/* ----------------- VIDEO DISPLAY ----------------------- */
.video_display{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color:#000000;
}
.video_display video{
    width:100%;
    height:100%;
}
.video_display video::-webkit-media-controls {
    display:none !important;
}
/* ----------------- AUDIO DISPLAY ----------------------- */
.audio_display{
}
/* ----------------- PICTURE COMPONENT ------------------- */
.picture_display{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    background-position: center center;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----------------- golden_family ------------------- */
.receptor .golden_family{
    width:100%;
    height:100%;
    left:0;
    right:0;
    top:0;
    display:table;
    margin:auto;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea13f2+0,171b91+51,2347db+100 */
  background: #ea13f2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ea13f2 0%, #171b91 51%, #2347db 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ea13f2 0%,#171b91 51%,#2347db 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ea13f2 0%,#171b91 51%,#2347db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea13f2', endColorstr='#2347db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.receptor .golden_family .content_choice{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  display:table;
  max-width: 1020px;
  width: 90%;
  padding-bottom:100px;
}
.receptor .golden_family ul.choices{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100%;
    display: table;
}
.receptor .golden_family ul.choices li{
    box-sizing: border-box;
    list-style: none;
    display: block;
    position: relative;
    width:100%;
    height:80px;
    margin-bottom:5px;
    border-radius: 10px;
    border:none;
    background-color:rgba(0,0,0,.5);
    /*transform: perspective( 600px );*/

    -moz-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    -webkit-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    -o-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0.4), Direction=134, Strength=20);
}
.receptor .golden_family ul.choices li .front{
    position: absolute;
    width:100%;
    box-sizing: border-box;
    width:100%;
    height:100%;
    background-color:#000000;
    border-radius: 10px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: perspective( 600px );
    transform-style: preserve-3d;
    transition: transform 1s;
    top:0;
    left:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2347db+0,171b91+51,ea13f2+100 */
    background: #2347db; /* Old browsers */
    background: -moz-linear-gradient(45deg, #2347db 0%, #171b91 51%, #ea13f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #2347db 0%,#171b91 51%,#ea13f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #2347db 0%,#171b91 51%,#ea13f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2347db', endColorstr='#ea13f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    -o-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.5), Direction=315, Strength=20);

}
.receptor .golden_family ul.choices li .back{
    position: absolute;
    padding:15px;
    padding-left:25px;
    padding-right:25px;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    float: left;
    text-align: left;
    color:#FFFFFF;
    background:#000000;
    border-radius: 10px;
    width:100%;
    box-sizing: border-box;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: perspective( 600px );
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateX( 180deg );
    top:0;
    left:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e48c1+0,19117f+51,1733a5+52,e821ef+99 */
    background: #3e48c1; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3e48c1 0%, #19117f 51%, #1733a5 52%, #e821ef 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3e48c1 0%,#19117f 51%,#1733a5 52%,#e821ef 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3e48c1 0%,#19117f 51%,#1733a5 52%,#e821ef 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e48c1', endColorstr='#e821ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    -o-box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    box-shadow: inset -5px -5px 20px 0px rgba(0,0,0,.5);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.5), Direction=315, Strength=20);

}
.receptor .golden_family ul.choices li .back .points{
  float: right;
  font-weight: bold;
}
.receptor .golden_family ul.choices li.selected .front{
    transform: rotateX( -180deg );
}
.receptor .golden_family ul.choices li.selected .back{
    transform: rotateX( 0deg );
}

/* --------------- MOTION CANVAS --------------- */
.motion_canvas{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    transform: transale3d(0,0,0);
}

.app_logo{
    background-size: cover;
    background-position:top center;
    position: absolute;
    z-index: 999;
    left:0;
    right:0;
    top:0;
    margin:auto;
    width:600px;
    height:200px;
}
.app_icon{
    background-size: cover;
    background-position:top center;
    position: absolute;
    z-index: 999;
    right:0;
    top:0;
    margin:auto;
    width:300px;
    height:200px;
}
