header{
    display:none;
}
.app{
    top:0 !important;
}
.receptor{
    width:100% !important;
    max-width:100% !important;
    height:100% !important;
}
.receptor .module{
    width:100%;
    height:100%;
    box-sizing: border-box;
    display:block;
}
/* ----------------- CHRONOS ------------------------- */
.chronos{
    position: absolute;
    width:100%;
}
.chronos.fullscreen{
    height:100%;
}
.chronos.bottom{
    height:100px;
    bottom:0;
}
.chronos.top{
    height:100px;
    top:0;
}
.chronos .counter{
    color:#FFFFFF;
    font-weight: bold;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    font-size: 20px;
    padding:20px;
    z-index: 9;
    background-color:#000;
    border-radius: 100%;
    display: table;
    width:100px;
    height:100px;
    text-align: center;
}
.chronos.fullscreen .counter{
    font-size: 200px;
}
.chronos .timelap{
    width:100%;
    height:100%;
    background-color:#E3E3E3;
    position: relative;
}
.chronos .timelap .progress{
    width:0%;
    height:100%;
    background-color:#333;
}
/* ----------------- PICTURE COMPONENT ------------------- */
.picture_display{
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    background-position: center center;
    background-size: contain;
    top:0;
    left:0;
}
/* ----------------- golden_family ------------------- */
.receptor .golden_family{
    max-width: 1080px;
    width:100%;
    left:0;
    right:0;
    top:0;
    display:table;
    margin:auto;
    height:auto;
    position: absolute;
}
.receptor .golden_family ul.choices{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100%;
    display: table;
}
.receptor .golden_family ul.choices li{
    box-sizing: border-box;
    list-style: none;
    display: block;
    position: relative;
    width:100%;
    height:80px;
    margin-bottom:20px;
    border-radius: 10px;
    
    background-color:#666;
    /*transform: perspective( 600px );*/
    
    -moz-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    -webkit-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    -o-box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    box-shadow: inset 2px 2px 20px 2px rgba(0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0.4), Direction=134, Strength=20);
}
.receptor .golden_family ul.choices li .front{
    position: absolute;
    width:100%;
    box-sizing: border-box;
    width:100%;
    height:100%;
    background-color:#FF0000;
    border-radius: 10px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: perspective( 600px );
    transform-style: preserve-3d;
    transition: transform 1s;
}
.receptor .golden_family ul.choices li .back{
    position: absolute;
    padding:20px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
    float: left;
    text-align: center;
    color:#FFF000;
    background:#000000;
    border-radius: 10px;
    width:100%;
    box-sizing: border-box;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: perspective( 600px );
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateX( 180deg );
}
.receptor .golden_family ul.choices li.selected .front{
    transform: rotateX( -180deg );
}
.receptor .golden_family ul.choices li.selected .back{
    transform: rotateX( 0deg );
}

/* --------------- MOTION CANVAS --------------- */
.motion_canvas{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
}