<div class="screen receptor">
    <div class="tl"></div>
    <div class="tc"></div>
    <div class="tr"></div>
    <div class="bl"></div>
    <div class="bc"></div>
    <div class="br"></div>
    <div class="module">
    </div>
</div>
<script type="text/template" id="success_template">
  <iframe src="motions/win_generic_motion.html" width="100%" height="100%" margin="0" padding="0" class="over_motion"></iframe>
</script>
<script type="text/template" id="error_template">
  <iframe src="motions/lose_generic_motion.html" width="100%" height="100%" margin="0" padding="0" class="over_motion"></iframe>
</script>
<script type="text/template" id="text_template">
  <div class="fullscreen" id="text_motion">
    <div class="success_text">
      <span class="letter">P</span>
      <span class="letter">E</span>
      <span class="letter">R</span>
      <span class="letter">D</span>
      <span class="letter">U</span>
      <span class="letter">!</span>
    </div>
  </div>
</script>
