.default {}

.picture {
    width: 100%;
    background-size: auto 100%;
    background-position: center center;
    position: relative;
    background-color: #E3E3E3;
    display: table;
    height: 30vh;
    background-repeat: no-repeat;
}

.picture img {
    max-height: 30vh;
}

.cast_button_top {
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 60px;
    height: 60px;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../img/cast.svg);
    background-color: #78A955;
    border-radius: 100%;
}

.video_big_button {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .4);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-image: url(images/play_button.svg);
    border-radius: 100%;
}

.label_separator {
    width: 100%;
    padding: 10px;
    background-color: #E3E3E3;
    box-sizing: border-box;
}

.task_list {
    margin: 0;
    padding: 0;
    width: 90%;
    max-width: 550px;
    left: 0;
    right: 0;
    margin: auto;
}

.task_list li {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.task_list li .radio_ui {}

.task_list li .label {
    max-width: 80%;
    line-height: 20px;
    float: left;
}