<div class="screen">
    <div class="wrapper" id="screen_wrapper">
        <div class="scroller">
            <div class="picture" style="background-image:url(<%= app.ip+'/'+app.selected_app.thumb %>)">
                <!--<div class="video_big_button"></div>-->
                <div class="cast_button_top" data-action="cast" data-type="picture" data-file="<%= app.selected_app.thumb %>"></div>
            </div>
            <h2><%= app.selected_app.label %></h2>
            <p><%= app.selected_app.desc %></p>
            <div class="label_separator">Prérecquis</div>
            <ul class="task_list">
                <% for(var i=0; i<app.selected_app.prerecquise.length; i++ ){ %>
                    <li><div class="label"><%= app.selected_app.prerecquise[i].label %></div><div class="radio_ui" data-checked="<%= app.selected_app.prerecquise[i].checked %>"></div></li>
                <% } %>
            </ul>
            <button id="launch_app" class="classic_button disabled">Lancer l'animation</button>
            <br/>
            <div class="version"><%= app.selected_app.label %> version <%= app.selected_app.version %></div>
            <!-- <a href="#" onclick="return false;" data-webview="http://10.3.141.1:3000/infos" class="hyperlink">Fiche technique de l'animation</a> -->
            <br/>
            <br/>
        </div>
    </div>
</div>
