<div class="screen">
  <div class="panel-infos">
    <div class="icon">
      <img src="img/box_connect.svg">
    </div>
    <p>Nous synchronisons votre appareil...</p>
  </div>
  <div class="progress_bar" id="synchro_progress">
    <div class="status">0%</div>
    <div class="bar">
      <div class="progress"></div>
    </div>
  </div>
  <!--<button id="connect_button" class="classic_button"><i class="material-icons md-18">wifi_tethering</i>Connexion</button><br/>
  <p>Cette opération ne doit pas excéder 2 minnutes
Les fichiers lourds (images principalement) peuvent rallonger le temps de chargement
de cette étape...</p>-->
  <a href="#" onclick="ui.check_wifi();return false;" class="hyperlink">Vérifier votre réseau wifi</a>
</div>
