<div class="screen">
  <!--<h1>REGIS</h1>
  <button id="video_button" class="classic_button">Video</button>
  <button id="play_video" class="classic_button">Play Video</button>
  <button id="pause_video" class="classic_button">Pause Video</button><br/>

  <button id="audio_button" class="classic_button">Audio</button>
  <button id="play_audio" class="classic_button">Play Audio</button>
  <button id="pause_audio" class="classic_button">Pause Audio</button>
  <button id="stop_audio" class="classic_button">Stop Audio</button><br/>

  <button id="picture_button" class="classic_button">Display Picture</button><br/>-->
  
  <div class="wrapper" id="screen_wrapper">
    <div class="scroller">
      <ul class="app_list">
          <% for(var i=0; i<app.activities.activities.length; i++){ %>
            <li data-appid="<%= i %>">
                <div class="thumb" style="background-image:url(<%= app.ip+'/'+app.activities.activities[i].thumb %>);"></div>
                <h3><%= app.activities.activities[i].label %></h3>
                <p><%= app.activities.activities[i].desc %></p>
            </li>
          <% } %>
      </ul>
    </div>
   </div>
</div>
