<div class="screen">
  <div class="panel-infos">
    <div class="icon">
      <img src="img/cast.svg">
    </div>
    <p>Pour commencer, veuillez vous connecter sur le réseau Wifi N’JOY après avoir sélectionné N’JOY dans vos paramètres WIFI cliquez sur connexion.</p>
  </div>
  <button id="connect_button" class="classic_button">Connexion</button><br/>
  <a href="#" onclick="return false;" class="hyperlink">Accèder aux paramètres wifi de votre appareil</a>
</div>
