  <div class="screen">
    <h1>TEMPLATE BIENVENUE</h1>
    <form action="">
      <p class="line">
        Pour commencer, veuillez indiquer un pseudo<br/>ou un nom de groupe :
      <p>
      <div class="line">
        <input type="text" class="upper" id="pseudo" autocomplete="off" />
      </div>
      <div class="line">
        <button id="connect_button" class="classic_button" disabled="true">Connect</button>
      </div>
    </form>
  </div>
