.app_tools{
    text-align: left;
    width:100%;
    height:100%;
}
.app_tools .column{
    width: 100%;
    min-height: 100%;
    display: block;
    float: left;
}
.app_tools .tools_list{
    margin:0;
    padding:0;
    width:100%;
}
.app_tools .tools_list li{
    text-align: left;
    list-style: none;
    padding:0;
    margin:0;
    border-bottom:1px solid #E3E3E3;
    cursor: pointer;
}
.app_tools .tools_list li:hover{    
    background:#FFF;
    opacity: .8;
}
.app_tools .tools_list li h3, .app_tools .column h3, .app_tools .tools_list li h4, .app_tools .column h4{
    padding:10px;
    margin:0;
}
.app_tools .tools_list li p{
    padding:10px;
    margin:0;
    padding-top:0;
    line-height: 20px;
}
.app_tools .column h3{
    background: #E3E3E3;
}

.column.components{
    width:100%;
    height:100%;
}
#tools_scroll, #apps_scroll{
    width:25% !important;
    float: left;
}
#tools_scroll{
    background:#F0F0F0;
}
#apps_scroll{
    background:#F6F6F6;
}
#components_scroll{
    width:50% !important;
    float: left;
    background:#F9F9F9;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling:touch;
}


.playlist_list{
    margin:0;
    padding:0;
    width:100%;
}
.playlist_list li{
    width:100%;
    padding:10px;
    padding-left:15px;
    text-align: left;
    border-bottom:1px solid #E3E3E3;
    cursor: pointer;
}
.playlist_list li:hover{
    opacity: .8;
    background: #FFF;
}
.playlist_list li .play_icon{
    float:left;
}
.playlist_list li span{
    line-height: 40px;
    padding-left:10px;
}

.item_button.intro{
    width:100%;
    text-align: left;
    height:60px;
    padding:10px;
    box-sizing: border-box;
    color:#FFF;
    background:#78A955;
    cursor: pointer;
}
.item_button.intro:hover{
    opacity: .8;
}
.item_button.intro img{
    float: left;
    width:40px;
    height:40px;
}
.item_button.intro span{
    line-height: 40px;
    padding-left:10px;
    font-weight: bold;
    color:#FFF;
    font-size: 16px;
}
[data-appid] *{
    pointer-events: unset;
}
/* ------------- TOOLS LAYER --------------- */
.open_tools_button{
    position: absolute;
    bottom: 0;
    background: #78A955;
    width: 48px;
    height: 48px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    right: 10px;
    display: none;
    z-index: 999999;
    background-image: url(../../img/tools_icon.svg);
    background-position: center center;
    background-size:80%;
}

@media screen and (max-width: 980px) {
    #tools_scroll, #apps_scroll{
        width:33% !important;
    }
    #components_scroll{
        width:34% !important;
    }
}
@media screen and (max-width: 568px) {
    #tools_scroll, #apps_scroll{
        width:50% !important;
    }
    #components_scroll{
        width: 50% !important;
        position: absolute;
        left:100%;
        top:0;
    }
}
@media screen and (max-width: 560px) {
    #tools_scroll, #apps_scroll, #components_scroll{
        width:100% !important;
    }
    #apps_scroll .scroller{
        padding-bottom:80px;
    }
    #tools_scroll{
        position: absolute;
        top:100%;
        left:0;
        z-index: 9999;
    }
    .open_tools_button{
        display: block;
    }
    #components_scroll{
        position: absolute;
        left:100%;
        top:0;
    }
}
