<h2><%= label %></h2>
<p class="app_description"><%= desc %></p>
<% if(typeof jingle !== "undefined"){ %> 
    <% if(jingle.type === "video"){ %>
        <div class="jingle">
            <video controls data-action="cast" data-type="video" data-file="<%= app.ip+'/'+jingle.file %>">
                Jouer la vidéo
                <source src="<%= app.ip+'/'+jingle.file %>" type="video/mp4">
            </video>
            <div class="cast_button">Diffuser le Jingle</div>
        </div>
    <% } %>
<% } %>
<div class="tab_bar">
    <ul>
    <% for(var i=0; i<menu.length; i++){ %>
        <li class="<% if(i===0){ %>selected<% } %>" id="<%= i %>"><%= menu[i].label %></li>
    <% } %>
    </ul>
</div>
<% for(var i=0; i<menu.length; i++){ %>
<section class="section_tab" id="section_<%= i %>" style="<% if(i>=1){ %>display:none;<% } %>">
    <h3><%= menu[i].label %></h3>
    <p><%= menu[i].desc %></p>
    <% for(var c=0; c<_.keys(menu[i].components).length; c++){ %>
        <% var comp_datas = menu[i].components[_.keys(menu[i].components)[c]] %>
        <% if(_.keys(menu[i].components)[c] === "galery"){ %>
            <ul class="galery_list">
                <% for(var g=0; g<comp_datas.length; g++){ %>
                    <li class="picture_gallery">
                        <div class="pix" style="background-image:url(<%= app.ip+'/'+comp_datas[g].file %>);"></div>
                        <h3><%= comp_datas[g].label %></h3>
                        <div class="cast_button">Diffuser</div>
                    </li>
                <% } %>
            </ul>
        <% }else if( _.keys(menu[i].components)[c] === "playlist_video" ){ %>
            <ul class="playlist_video">
                <% for(var g=0; g<comp_datas.length; g++){ %>
                    <li>
                        <video src="<%= app.ip+'/'+comp_datas[i].file %>" controls></video>
                        <span><%= comp_datas[i].label %></span>
                        <div class="cast_button">Diffuser</div>
                    </li>
                <% } %>
            </ul>
        <% }else if( _.keys(menu[i].components)[c] === "playlist_audio" ){ %>
            <ul class="playlist_video">
                <% for(var g=0; g<comp_datas.length; g++){ %>
                    <li>
                        <audio src="<%= app.ip+'/'+comp_datas[i].file %>" controls></audio>
                        <span><%= comp_datas[i].label %></span>
                        <div class="cast_button">Diffuser</div>
                    </li>
                <% } %>
            </ul>
        <% }else if( _.keys(menu[i].components)[c] === "quiz_component" ){ %>
            <ul class="quiz_component">
                <% for(var q=0; q<comp_datas.length; q++){ %>
                    <li>
                        <span><%= comp_datas[q].label %></span>
                        <p class="description"><%= comp_datas[q].desc %></p>
                        <ul class="choices">
                            <% for(var c=0; c<comp_datas[q].choices.length; c++){ %>
                                <li>
                                    <%= comp_datas[q].choices[c] %>
                                    <div class="radio_ui" data-checked="false"></div>
                                </li>
                            <% } %>
                        </ul>
                        <div class="cast_button">Diffuser</div>
                    </li>
                <% } %>
            </ul>
        <% } %>
    <% } %>
</section>
<% } %>
