<div class="screen">
  <div class="wrapper" id="screen_wrapper">
    <div class="scroller">
      <div class="panel-infos">
        <div class="icon">
          <img src="img/cast.svg">
        </div>
        <form>
          <input type="text" value="" id="ip_config"/>
        </form>
        <p>Avant de commencer pensez à vérifier vos paramètres wifi.</p>
      </div>
      <button id="connect_button" class="classic_button">Connexion</button><br/>
      <a href="#" id="wifi_settings" onclick="return false;" class="hyperlink">Accèder aux paramètres wifi de votre appareil</a>
    </div>
    </div>
</div>
