html, body, iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: helvetica;
    
}
*{
    box-sizing: border-box;
}
header{
  width:100%;
  height:50px;
  position: fixed;
  z-index: 9;
  background-color: #DBDCDB;
}
header .logo{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width : 320px;
  height:130px;
  max-height: 100%;
}
header .logo img{
  width:100%;
  height:100%;
}
footer{
  position: fixed;
  width: 100%;
  height:80px;
  bottom:0;
  background-color: #DBDCDB;
}
h1{
  font-size: 8vh;
  text-align: center;
  font-weight: lighter;
  color:#78A955;
}
form{
  left:0;
  right:0;
  margin:auto;
  width:100%;
  max-width: 550px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
form p{
  font-size:3vh;
  color:#414042;
}
form .line{
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
}
main{
    overflow: hidden;
}
main.app{
  top:50px;
    overflow: hidden;
  padding-bottom: 80px;
  left:0;
    width:100%;
    height:100%;
    position:relative;
    color:#333;
    overflow: hidden;
    text-align: center;
    background-color:#ececec;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
main.app .screen {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align: center;
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"]{
  width:100%;
  border:none;
  border-radius: 0;
  border-bottom: 2px solid #414042;
  font-size: 30px;
  line-height: 50px;
  background: none;
  text-align: center;
  color:#6D6F71;
  outline: none;
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
input.upper{
  text-transform: uppercase;
}
input:focus{
  outline: none;
}
main.app p{
  max-width: 550px;
  left:0;
  right:0;
  margin:auto;
  color:#939598;
  font-size: 13px;
  margin-top:20px;
  margin-bottom:20px;
    padding:20px;
}


