html, body{
    padding:0 !important;
    margin:0;
}
.winplane{
    position: absolute;
    width:400px;
    height:400px;
    transform: translate(-400px, 100%);
    z-index: 999;
}
.winplane img{
    width:100%;
    height: 100%;
}
.boardingpass{
    width:100%;
    height:100%;
}
.boardingpass{
    width:200%;
    height:100%;
    transition:transform 1s;
}
.boardingpass .screener{
    width:50%;
    height:100%;
    float: left;
    background-color:#0C2947;
    position: relative;
}
.boardingpass .screener.decors{
    background-image: url(/pages/boardingpass/images/1x/decors.png);
}


.boardingpass .screener.decors .levelinfos{
    position: absolute;
    left:200px;
    top:100px;
    display: inline;
}
.boardingpass .screener.decors .levelinfos .icon{
    height:600px;
}
.boardingpass .screener.decors .levelinfos .icon img{
    height:600px;
}
.boardingpass .screener.decors .levelinfos .name{
    font-size: 180px;
    color: #FFCC33;
    padding-left: 110px;
    font-weight: bold;
    text-transform: uppercase;
}
.boardingpass.decollage{
    transform:translateX(-50%);
}

.boardingpass .airportPanel{
    width:1500px;
    height:100%;
}
.boardingpass .airportPanel ul{
    display: inline-grid;
    width:100%;
}
.boardingpass .airportPanel ul li{
    display: inline-flex;
    list-style:none;
    color:yellow;
    width:100%;
    font-size: 40px;
    position: relative;
    height:80px;

}
.boardingpass .airportPanel ul li span{
    padding:10px;
    margin-right:5px;
    line-height: 80px;
}

.boardingpass .airportPanel ul li .top,
.boardingpass .airportPanel ul li .bottom{
    position: absolute;
    width:100%;
}
.boardingpass .airportPanel ul li .top span{
    overflow: hidden;
    background:#000;
    height:40px;
}


h1 {
    margin: 0 0 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    background: #333333;
}

.splitflap {
    margin: 0 auto;

    -webkit-perspective-origin: top center;
    -moz-perspective-origin: top center;
    -ms-perspective-origin: top center;
    perspective-origin: top center;

    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}


.display{
    width:100%;
}




body {
    margin: 0;
    padding: 20px;
    background: grey;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
}
.flap_content{
    width: 1540px;
    height: 970px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    /*border:20px solid #000;*/
    background-color:#000;
    padding: 20px;

    -webkit-box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
    

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,212121+50,000000+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #333333 0%, #212121 50%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #333333 0%,#212121 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333333 0%,#212121 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.flap_content:before{
    content:"";
    height:970px;
    width:20px;
    transform: skewY(45deg);
    position: absolute;
    left:1540px;
    top:0px;
    background: #333;
    transform-origin: 0 0;
}
.flap_content:after{
    content:"";
    height:20px;
    width:1540px;
    transform: skewX(45deg);
    position: absolute;
    top:970px;
    background: #212121;
    left:0px;
    transform-origin: 0 0;
}
.flap_content .header{
    width:100%;
}
.flap_content .header .panelTitle{
    width:100%;
    font-size: 60px;
    height:100px;
    line-height: 100px;   
    color:#FFF04B;
    font-weight: medium;
}
.flap_content .header .panelTitle img{
    height:100px;
    float: left;
    margin-right:20px;
}
.flap_quiz, .flap_chronos{
    float:left;
}
.flap_content .header .right{
    float:right;
}
.flap_content .header .left{
    display: inline-flex;
    float:left;
}
.flap_content .header .pix{
    height:60px;
}
.flap_content .header .label{
    color:#FFF04B;
    line-height: 60px;
    padding-left:20px;
    font-size: 24px;
}

.flap_content .header .gameInfos{
    position: absolute;
    right: 40px;
    margin: auto;
    display: inline-flex;
    top: 20px;
    padding: 10px;
    background-color: #000;
    -webkit-box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 102px 1px rgba(0,0,0,0.75);
}
.flap_content .header .gameInfos .score{
    display: inline-flex;
}
.flap_content .header .gameInfos .chrono{
    display: inline-flex;  
}
.flap_content .header .gameInfos .scoreflap,
.flap_content .header .gameInfos .chronoflap,
.flap_content .header .gameInfos .levelflap{
    padding: 10px;
    font-size: 34px;
    line-height: 40px;
    padding-left: 20px;
}


.flap_content .header .gameInfos:before{
    content:"";
    height:100%;
    width:20px;
    transform: skewY(45deg);
    position: absolute;
    left:100%;
    top:0px;
    background: #333;
    transform-origin: 0 0;
}
.flap_content .header .gameInfos:after{
    content:"";
    height:20px;
    width:100%;
    transform: skewX(45deg);
    position: absolute;
    top:100%;
    background: #212121;
    left:0px;
    transform-origin: 0 0;
}

.flap_content .header .labelColumns{
    display: inline-flex;
    padding-top:30px;
    padding-bottom:10px;
    color:#FFF04B;
}
.flap_content .header .labelColumns .column1{
    width:85px;
}
.flap_content .header .labelColumns .column2{
    width:1320px;
}
.flap_content .header .labelColumns .column3{
    width:100px;
}

.flap_quiz div.splitflap{
    margin-bottom:4px;
}

h1 {
    margin: 0 0 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    background: #333333;
}

.splitflap {
    margin: 0 auto;

    -webkit-perspective-origin: top center;
    -moz-perspective-origin: top center;
    -ms-perspective-origin: top center;
    perspective-origin: top center;

    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}
