<div class="screen">
  <div class="panel-infos">
    <div class="icon">
      <img src="img/box_connect.svg">
    </div>
    <p>Nous configurons les contenus...</p>
  </div>
  <div class="progress_bar" id="socket_progress">
    <div class="status">0%</div>
    <div class="bar">
      <div class="progress"></div>
    </div>
  </div>
  <!--<button id="connect_button" class="classic_button"><i class="material-icons md-18">wifi_tethering</i>Connexion</button><br/>
  <p>Cette opération ne doit pas prendre plus de 10 secondes,
si dans un délais approximatif à 10 secondes rien ne se passe,
veuillez redémarrer le boîtier Mac mini.</p>-->
  <a href="#" onclick="ui.check_wifi();" class="hyperlink">Résolution des problèmes de connexion</a>
</div>
