<!-- TEST URL 
    NOTE IMPORTANT 
    on a supprimé  --disable-gpu-compositing dans la config chromium du fichier  /etc/chromium-browser/customizations/00-rpi-var
    killall chromium-browser
    export DISPLAY=:0
    chromium-browser --noerrdialogs --ignore-gpu-blacklist --disable-infobars --disable-session-crashed-bubble --incognito --kiosk --start-maximized http://10.3.141.1:3000/boardingpass
-->
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title>NJOY</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/boardingpass.css">
        <link rel="stylesheet" type="text/css" href="pages/boardingpass/forbansjs/forbans.css">

        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
        <!--<script type="text/javascript" src="js/lettering.js"></script>
        <script type="text/javascript" src="pages/boardingpass/flapper/jshashtable-2.1/jshashtable.js"></script>-->
        <script type="text/javascript" src="pages/boardingpass/forbansjs/forbansjs.js"></script>
        
        <script type="text/javascript" src="js/EaselJS/lib/easeljs-0.8.1.combined.js"></script>

        <script src="pages/boardingpass/js/jquery/jquery.splitflap.js"></script>

        <script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="node_modules/gsap/TweenMax.js"></script>
        <script type="text/javascript" src="node_modules/gsap/TweenLite.js"></script>
        <script type="text/javascript" src="js/lettering.js"></script>
        <script type="text/javascript" src="js/socket.io/socket.io.js"></script>
        <script src="node_modules/vue/dist/vue.min.js"></script>
    </head>
    <body>
        <div id="boardingpass" class="boardingpass decollage">
            <!--<div class="airportPanel">
                <div v-for='(item, index) in enigmes' v-bind:id="'flapper_'+index">{{ setForban(item.value, index) }}</div>
            </div>-->
            <div class="winplane">
                <img src="pages/boardingpass/images/SVG/airplane.svg" />
            </div>
            <div class="textMotion">

            </div>
            <div class="screener">
                <div class="pausedStatus" v-if="statusGame === 'paused'">
                    <div class="centered_icon">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="flap_content" v-if="questions">
                    <div class="header">
                        <div class="panelTitle">
                            <img class="pix" src="/pages/boardingpass/images/SVG/icon_NJOY.svg"/>
                            <!--<img class="pix" src="pages/boardingpass/images/SVG/plane.svg"/>-->
                            N'JOY DEPARTURES
                        </div>
                        <div class="labelColumns">
                            <div class="column1">
                                <img height="35" src="/pages/boardingpass/images/SVG/gate.svg"/>
                            </div>
                            <div class="column2">QUESTIONS</div>
                            <div class="column3">TIME</div>
                        </div>
                        <!--
                        <div class="left">
                            <img class="pix" src="/pages/boardingpass/images/svg/gate.svg"/>
                            <img class="pix" v-bind:src="'/pages/boardingpass/images/svg/level_'+level+'.svg'"/>
                            <div class="label">DEPARTURE</div>
                        </div>
                        -->
                        <div class="gameInfos">
                            <div class="score panelFlap">
                                <img class="pix" v-bind:src="'/pages/boardingpass/images/SVG/level_'+level+'.svg'"/>
                            </div>
                            <div class="score panelFlap">
                                <div class="label">SCORE</div>
                                <div class="scoreflap">{{ str_pad_left(score, '0', 4) }}</div>
                            </div>
                            <div class="chrono panelFlap" v-if="settings.chronolap">
                                <div class="label">TIME REMAINING</div>
                                <div class="chronoflap">{{ datetime }}</div>
                            </div>
                            <div class="chrono panelFlap" v-if="!settings.chronolap">
                                <div class="label">CLOCK</div>
                                <div class="chronoflap">{{ datetime }}</div>
                            </div>
                        </div>
                        <!--
                        <div class="right">
                            <img class="pix" src="pages/boardingpass/images/SVG/time.svg"/>
                        </div>
                        -->
                    </div>
                    <div class="flap_quiz">
                        <div class="splitflap" id="flap_0" data-line="0" v-if="questions[0].question">{{ questions[0].question }}</div>
                        <div class="splitflap" id="flap_1" data-line="1" v-if="questions[1].question">{{ questions[1].question }}</div>
                        <div class="splitflap" id="flap_2" data-line="2" v-if="questions[2].question">{{ questions[2].question }}</div>
                        <div class="splitflap" id="flap_3" data-line="3" v-if="questions[3].question">{{ questions[3].question }}</div>
                        <div class="splitflap" id="flap_4" data-line="4" v-if="questions[4].question">{{ questions[4].question }}</div>
                        <div class="splitflap" id="flap_5" data-line="5" v-if="questions[5].question">{{ questions[5].question }}</div>
                        <div class="splitflap" id="flap_6" data-line="6" v-if="questions[6].question">{{ questions[6].question }}</div>
                        <div class="splitflap" id="flap_7" data-line="7" v-if="questions[7].question">{{ questions[7].question }}</div>
                        <div class="splitflap" id="flap_8" data-line="8" v-if="questions[8].question">{{ questions[8].question }}</div>
                        <div class="splitflap" id="flap_9" data-line="9" v-if="questions[9].question">{{ questions[9].question }}</div>
                        <div class="splitflap" id="flap_10" data-line="10" v-if="questions[10].question">{{ questions[10].question }}</div>
                        <div class="splitflap" id="flap_11" data-line="11" v-if="questions[11].question">{{ questions[11].question }}</div>
                        <div class="splitflap" id="flap_12" data-line="12" v-if="questions[12].question">{{ questions[12].question }}</div>
                        <div class="splitflap" id="flap_13" data-line="13" v-if="questions[13].question">{{ questions[13].question }}</div>
                        <div class="splitflap" id="flap_14" data-line="14" v-if="questions[14].question">{{ questions[14].question }}</div>
                        <div class="splitflap" id="flap_15" data-line="15" v-if="questions[15].question">{{ questions[15].question }}</div>
                        <div class="splitflap" id="flap_16" data-line="16" v-if="questions[16].question">{{ questions[16].question }}</div>
                        <!--<div class="splitflap" id="flap_17" data-line="17">{{ questions[17].question }}</div>
                        <div class="splitflap" id="flap_18" data-line="18">{{ questions[18].question }}</div>
                        <div class="splitflap" id="flap_19" data-line="19">{{ questions[19].question }}</div>-->
                    </div>
                    <div class="flap_quiz flap_chronos">
                        <div id="flap_chronos_0" class="splitflapchronos"></div>
                        <div id="flap_chronos_1" class="splitflapchronos"></div>
                        <div id="flap_chronos_2" class="splitflapchronos"></div>
                        <div id="flap_chronos_3" class="splitflapchronos"></div>
                        <div id="flap_chronos_4" class="splitflapchronos"></div>
                        <div id="flap_chronos_5" class="splitflapchronos"></div>
                        <div id="flap_chronos_6" class="splitflapchronos"></div>
                        <div id="flap_chronos_7" class="splitflapchronos"></div>
                        <div id="flap_chronos_8" class="splitflapchronos"></div>
                        <div id="flap_chronos_9" class="splitflapchronos"></div>
                        <div id="flap_chronos_10" class="splitflapchronos"></div>
                        <div id="flap_chronos_11" class="splitflapchronos"></div>
                        <div id="flap_chronos_12" class="splitflapchronos"></div>
                        <div id="flap_chronos_13" class="splitflapchronos"></div>
                        <div id="flap_chronos_14" class="splitflapchronos"></div>
                        <div id="flap_chronos_15" class="splitflapchronos"></div>
                        <div id="flap_chronos_16" class="splitflapchronos"></div>
                        <!--<div id="flap_chronos_17" class="splitflapchronos"></div>
                        <div id="flap_chronos_18" class="splitflapchronos"></div>
                        <div id="flap_chronos_19" class="splitflapchronos"></div>-->
                    </div>
                </div>
            </div>
            <div class="screener decors">
                <div class="levelinfos">
                    <!--
                    <div class="icon">
                        <img v-bind:src="'/pages/boardingpass/images/svg/level_'+(level)+'.svg'"/>
                    </div>
                    -->
                    <!--<div class="name">
                        Co-Pilote
                    </div>-->
                </div>
            </div>
        </div>
        <script>
            var global_questions = [];
            /*
            for(var i=0; i<Object.keys(global_questions).length; i++) {
                var key = Object.keys(global_questions)[i];
                for(var a=0; a<global_questions[key].length; a++) {
                    global_questions[key][a].id = a;
                    global_questions[key][a].success = 0;
                    global_questions[key][a].refreshed = 0;
                }
            }
            */
            var vm = new Vue({
                el: '#boardingpass',
                data: {
                    score:0,
                    totalQuestion : 17,
                    startingDate : new Date().getTime(),
                    datetime : new Date().getHours()+":"+new Date().getMinutes(),
                    level:1,
                    activities: [],
                    message: 'BOARDINGPASS',
                    forbans:[],
                    questions:[
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0},
                        {id:0, question:(' ').repeat(70), value:' ', level:0}
                    ], //_.shuffle(_.where(global_questions['co-pilote'], {success:0})).slice(0, 20),
                    ratio:.4,
                    maxChar:70,
                    delay:600,
                    statusGame: '',
                    paused: '',
                    played: '',
                    chronos:[],
                    chronosValue:[],
                    boarding: true,
                    settings:{
                        chronoline:false,
                        chronolineduration:"00:00",
                        chronolap:false,
                        chronolapduration:"00:00"
                    },
                    flapParams: {
                        image:   './pages/boardingpass/images/1x/CHARS.png',
                        charWidth:  50,
                        charHeight: 100,
                        imageSize:  {
                            width:2800,
                            height:100
                        },
                        autoplay:   true,
                        charsMap:   "ABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789.,!?#@()+-=É':°",
                        charSubstitute: ' ',
                        speed:          50,
                        speedVariation: 0
                    },
                    infos: {
                        datas: {
                            teams: []
                        }
                    },
                    socket: io(window.location.origin, {transports: ['websocket', 'xhr-polling']})
                },
                created: function() {
                    $.get('/pages/boardingpass/questions-boardingpass.json', function(data, status){
                        //console.log("Data: ", data ,"\nStatus: ", status);
                        global_questions = data;
                        global_questions.forEach((element, index) => {
                            element.id = index;
                        });
                        // this.questions = _.shuffle(_.where(global_questions, {success:0})).slice(0, this.totalQuestion);
                    }.bind(this));

                    this.socket.on('error', function(e) {
                        console.log('error socket');
                    });
                    this.socket.on('connect_failed', function(e) {
                        console.log("connect_failed");
                    });
                    this.socket.on('connect', function(e) {
                        console.log("socket_connected");
                    });
                    this.socket.on('redirect', function(datas){
                        console.log('datas redirect ', datas);
                        window.location.href = datas.url;
                    });
                    this.socket.on('boardingpass', function(datas) {
                        /* GESTION DE CAS SPECIFIQUES */
                        // SAMPLE CALL EMIT : vm.socket.emit('boardingpass', {status:"updateLine", value:"BONJOUR TOUT LE MONDE", line:4})
                        switch(datas.status){
                            case 'pause':
                                this.pauseChronos();
                                this.socket.emit('boardingpass', {status:"paused"});
                                break;
                            case 'end':
                                this.endGame();
                                this.socket.emit('boardingpass', {status:"ended"});
                                break;
                            case 'play':
                                this.playChronos();
                                this.socket.emit('boardingpass', {status:"played"});
                                break;
                            case 'getQuestions':
                                this.settings = datas.settings;
                                // ON CREE UN RANDOM DE QUESTIONS SELON LE LEVEL ENVOYE

                                this.level = parseInt(datas.level) + 1;

                                var possibilities = this.withoutCurrentQuestions();
                                this.questions = possibilities.slice(0, this.totalQuestion);
                                
                                if(this.questions.length < this.totalQuestion){
                                    // 'IL Y A MOINS DE QUESTIONS QUE PREVU ', (this.totalQuestion - this.questions.length));
                                    var tot = (this.totalQuestion - this.questions.length);
                                    for(var i = 0; i < tot; i++) {
                                        // ON AJOUTE UNE QUESTION VIDE
                                        this.questions.push({id:0, question:(' ').repeat(this.maxChar), value:" ", level:0, success:1, refreshed:99});
                                    }
                                }
                                // this.questions = _.shuffle(_.where(global_questions, {success:0, level:this.level})).slice(0, this.totalQuestion);
                                
                                // ON ENVOIE LES QUESTIONS A L APP
                                this.socket.emit('boardingpass', {status:"sendQuestions", questions:this.questions});
                                // ON MET A JOUR LE TABLEAU COTE DISPLAY PUBLIC
                                this.changeLevel("");
                                setTimeout(function() {
                                    this.boarding = false;
                                    this.startGlobalChrono();
                                    this.settingFlap(0);
                                }.bind(this), 2400);
                                
                                // ON CHECK SI ON A UN CHRONO GLOBAL
                                if(this.settings.chronolap){
                                    var hours = this.settings.chronolapduration.split(":");
                                    this.remainingTime = (hours[0] * (1000 * 60 * 60)) + (hours[1] * (1000 * 60));
                                    this.startingDate = new Date().getTime();
                                }
                                // ON LANCE LE SON D'AMBIANCE EN BOUCLE SANS PLAYER
                                this.socket.emit("njoy", {
                                    file: "ressources/boarding_pass/music_loop.mp3",
                                    status: "MUSIC_LOOP"
                                });
                                break;
                            case 'boarding':
                                this.boarding = true;
                                this.questions = [];
                                this.socket.emit("njoy", {"status":"KILL_OMX"});
                                $('#boardingpass').addClass('decollage');
                                setTimeout($.proxy(function(){
                                    this.init_flaps();
                                }, this), 1500);
                                break;
                            case 'sendQuestions':
                                // DE CE COTE ON NE FAIT RIEN CAR NOUS VENONS DE RENVOYER LES QUESTIONS A L APP
                                break;
                            case 'refreshLine':
                                // TODO REFFRESSH LINE
                                _.where(global_questions, {id:parseInt(datas.id)})[0].refreshed++;
                                this.displayLine(parseInt(datas.line), this.questions[parseInt(datas.line)].question);
                                break;
                            case 'valideLine':
                                // TODO VALIDE LINE
                                break;
                            case 'sendLine':
                                // ICI ON NE FAIS RIEN
                                this.update_line();
                                break;
                            case 'updateLine':
                                this.winMotion();
                                this.score++;
                                var updtSuccess = _.where(global_questions, {id:parseInt(datas.id)});
                                if(updtSuccess.length > 0){
                                    _.where(global_questions, {id:parseInt(datas.id)})[0].success = 1;
                                }
                                this.displayLine(parseInt(datas.line), this.questions[parseInt(datas.line)].question);
                                break;
                            default:
                                break;
                        }
                    }.bind(this));
                    setTimeout($.proxy(function(){
                        this.init_flaps();
                    }, this), 300);
                },
                computed: {
                    setClass: function() {
                        return {
                            unknow: false,
                            selected: true
                        }
                    }
                },
                methods: {
                    changeLevel: function(destination) {
                        // 'ZAP OR CHANGE LEVEL ?')
                        $('#boardingpass').addClass('decollage');
                        setTimeout(function(){
                            $('#boardingpass').removeClass('decollage');
                        }, 200);
                    },
                    winMotion : function() {
                        /*
                        DON'T KILL OMX PRESERVE CURRENT LOOP MUSIC ONLY PLAY FX
                        this.socket.emit("njoy", {
                            status: "KILL_FX"
                        });
                        */
                        this.socket.emit("njoy", {
                            file: "pages/boardingpass/sons/win.mp3",
                            status: "FX"
                        });
                        // TweenMax.set($('.winplane'), {x:-400, y:window.innerHeight, rotation:10});
                        // TweenMax.to($('.winplane'), 2, {x:window.outerWidth, y:-100, rotation:-45});
                        // $('#winplane').addClass('playMotion');
                    },
                    pauseChronos : function () {
                        this.paused = new Date().getTime();
                        this.statusGame = 'paused';
                    },
                    playChronos : function () {
                        if(this.settedFlap < this.questions.length) {
                            this.settingFlap(this.settedFlap);
                        }
                        this.played = new Date().getTime();
                        this.statusGame = 'played';
                    },
                    endGame : function () {
                        this.socket.emit("njoy", {"status":"KILL_OMX"});
                        this.settings.chronolap = false;
                        this.datetime = '00:00';
                        this.chronoEnded = true;
                        this.statusGame = 'ended';
                        this.setFinalScore(this.score);
                    },
                    init_flaps : function() {
                        var ratio = this.ratio,
                            self = this,
                            space = " ";
                        
                        $(".splitflap")
                            .splitFlap({
                                image: this.flapParams.image,
                                charWidth:  this.flapParams.charWidth * this.ratio,
                                charHeight: this.flapParams.charHeight * this.ratio,
                                imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                charsMap:   this.flapParams.charsMap,
                                speed:          1,
                                autoplay:       true,
                                text:           space.repeat(this.maxChar),
                                textInit:       space.repeat(this.maxChar)
                            });
                        
                        $('.splitflapchronos')
                            .splitFlap({
                                image: './pages/boardingpass/images/1x/CHARS_YELLOW.png',
                                charWidth:  this.flapParams.charWidth * this.ratio,
                                charHeight: this.flapParams.charHeight * this.ratio,
                                imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                charsMap:   this.flapParams.charsMap,
                                speed:          1,
                                autoplay:       true,
                                text:           "  N/C",
                                textInit:       "  N/C"
                            });

                        console.log('init_flaps_END');
                    },
                    startGlobalChrono: function () {
                        if(this.settings.chronolap){
                            //console.log(this.settings.chronolapduration);
                        }
                    },
                    settingFlap: function (index) {
                        var value = this.questions[index].question,
                            self = this,
                            space = " ";

                        this.settedFlap = index;
                        value = this.configValue(this.questions[index].id, value);
                        //(value.length < this.maxChar)? value += space.repeat(this.maxChar - value.length) : value = value.substring(0, this.maxChar);
                        $("#flap_"+index)
                            .splitFlap({
                                image: this.flapParams.image,
                                charWidth:  this.flapParams.charWidth * this.ratio,
                                charHeight: this.flapParams.charHeight * this.ratio,
                                imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                charsMap:   this.flapParams.charsMap,
                                charSubstitute: this.flapParams.charSubstitute,
                                speed:          this.flapParams.speed,
                                speedVariation: this.flapParams.speedVariation,
                                text:           value,
                                textInit:       space.repeat(this.maxChar),
                                onComplete: function () {
                                    if(self.settings.chronoline){
                                        var splitval = self.settings.chronolineduration.split(':');
                                        self.delay = (parseInt(splitval[0]) * 60) + parseInt(splitval[1]);
                                        self.startChronos(index);
                                    }else{
                                        self.chronos.forEach(function(element, index) {
                                            clearInterval(self.chronos[index]);
                                        });
                                        var hour = str_pad_left(15 + Math.floor(Math.random() * 8), '0', 2);
                                        var min = str_pad_left(Math.floor(Math.random() * 60), '0', 2);
                                        $('#flap_chronos_'+index)
                                            .splitFlap({
                                                image: './pages/boardingpass/images/1x/CHARS_YELLOW.png',
                                                charWidth:  self.flapParams.charWidth * self.ratio,
                                                charHeight: self.flapParams.charHeight * self.ratio,
                                                imageSize:  (self.flapParams.imageSize.width * self.ratio) + 'px ' + (self.flapParams.imageSize.height * self.ratio) + 'px',
                                                charsMap:   self.flapParams.charsMap,
                                                charSubstitute: self.flapParams.charSubstitute,
                                                speed:          0,
                                                speedVariation: 0,
                                                autoplay:   true,
                                                text:       hour+':'+min,
                                                textInit:   hour+':'+min
                                            });
                                    }
                                    if(index < self.questions.length-1){
                                        index++;
                                        if(!self.boarding){
                                            if(self.statusGame !== "paused"){
                                                self.settingFlap(index);
                                            }
                                        }
                                    }
                                }
                            });
                    },
                    clockUpdate: function () {
                        if(this.settings.chronolap) {
                            // Si le jeu est en pause on update pas
                            if (this.statusGame === 'paused') return false;

                            if (this.statusGame === 'played') {
                                var addTime = this.played - this.paused;
                                this.statusGame = '';
                            }

                            var totremaining = this.startingDate + this.remainingTime,
                                now = new Date().getTime(),
                                diff = Math.abs(totremaining - now),
                                diffHours = Math.floor(diff / (1000 * 60 * 60)),
                                diffMins = Math.floor((diff - (diffHours * (1000 * 60 * 60))) / (1000 * 60)); 
                                diffSecs = Math.floor((diff - (diffHours * (1000 * 60 * 60)) - (diffMins * (1000 * 60))) / 1000); 
                            
                            if (typeof addTime !== 'undefined') {
                                totremaining + addTime;
                            }

                            if(diffHours === 0 && diffMins < 10) {
                                this.datetime = str_pad_left(diffMins, '0', 2) +' : '+ str_pad_left(diffSecs, '0', 2);
                            }else {
                                this.datetime = str_pad_left(diffHours, '0', 2) +' : '+ str_pad_left(diffMins, '0', 2);                                
                            }
                            if(now >= totremaining) {
                                this.socket.emit("njoy", {"status":"KILL_OMX"});
                                vm.settings.chronolap = false;
                                this.datetime = '00:00';
                                this.chronoEnded = true;
                                // ON VIDE TOUTE LES LIGNES
                                // this.questions.forEach(function(element, index){
                                //    this.questions[index].question = (' ').repeat(70);
                                // }.bind(this));
                                // this.settingFlap(0);
                                // FINALEMENT ON NE VIDE PAS LES LIGNES MAIS ON AFFICHE LE SCORE EN ASSCII
                                this.setFinalScore(this.score);
                            }
                        }else{
                            if(this.chronoEnded){
                                this.datetime = '00:00';    
                            }else{
                                var now = new Date();
                                this.datetime = str_pad_left(now.getHours(), '0',2) + ':' + str_pad_left(now.getMinutes(), '0', 2);
                            }
                        }
                    },
                    setFinalScore : function (score) {
                        var finalScoreText = "Bravo, vous avez fait décoller :";
                        finalScoreText = (' ').repeat( ((this.maxChar - finalScoreText.length)/2) + 3 ) + finalScoreText + (' ').repeat( ((this.maxChar - finalScoreText.length)/2) - 3 );
                        
                        var lastLine = "avions";
                        lastLine = (' ').repeat( ((this.maxChar - lastLine.length)/2) + 3 ) + lastLine + (' ').repeat( ((this.maxChar - lastLine.length)/2) - 3 );
                        
                        score = score.toString();
                        score = str_pad_left(score,'0',3);
                        $('#boardingpass').removeClass('decollage');
                        var lines = [
                            {question:(' ').repeat(this.maxChar)},
                            {question:(' ').repeat(this.maxChar)},
                            {question:finalScoreText},
                            {question:(' ').repeat(this.maxChar)},
                            {question:(' ').repeat(this.maxChar)},
                            {question:this.getFinalScoreLine(0, score)},
                            {question:this.getFinalScoreLine(1, score)},
                            {question:this.getFinalScoreLine(2, score)},
                            {question:this.getFinalScoreLine(3, score)},
                            {question:this.getFinalScoreLine(4, score)},
                            {question:this.getFinalScoreLine(5, score)},
                            {question:this.getFinalScoreLine(6, score)},
                            {question:(' ').repeat(this.maxChar)},
                            {question:(' ').repeat(this.maxChar)},
                            {question:lastLine},
                            {question:(' ').repeat(this.maxChar)},
                            {question:(' ').repeat(this.maxChar)},
                            {question:(' ').repeat(this.maxChar)}
                        ];
                        this.questions = lines;
                        for(var index = 0; index < 17; index++){
                            $("#flap_"+index)
                                .splitFlap({
                                    image: './pages/boardingpass/images/1x/CHARS_GREEN.png',
                                    charWidth:  this.flapParams.charWidth * this.ratio,
                                    charHeight: this.flapParams.charHeight * this.ratio,
                                    imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                    charsMap:   this.flapParams.charsMap,
                                    charSubstitute: this.flapParams.charSubstitute,
                                    speed:          100,
                                    speedVariation: 0,
                                    text:           this.questions[index].question,
                                    textInit: (' ').repeat(this.maxChar),
                                    autoplay: false,
                                    onComplete: function () {
                                    }
                                });
                            $('#flap_chronos_'+index)
                                .splitFlap({
                                    image: './pages/boardingpass/images/1x/CHARS_YELLOW.png',
                                    charWidth:  this.flapParams.charWidth * this.ratio,
                                    charHeight: this.flapParams.charHeight * this.ratio,
                                    imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                    charsMap:   this.flapParams.charsMap,
                                    charSubstitute: this.flapParams.charSubstitute,
                                    speed:          50,
                                    speedVariation: 0,
                                    autoplay:   true,
                                    text:       '     ',
                                    textInit:   '     '
                                });
                        }
                        this.setScoreFlap(0);
                    },
                    setScoreFlap : function (index) {
                        $("#flap_"+index).splitFlap('splitflap').animate();
                        setTimeout($.proxy(function() {
                            if(index < 16) {
                                this.setScoreFlap(index+1);
                            }
                        }, this), 500);
                    },
                    getFinalScoreLine : function (line, score) {
                        var scoreArray = score.toString().split('');
                        var strLine = (' ').repeat(19);
                            strLine+= asciNumbers[parseInt(scoreArray[0])][line];
                            strLine+= (' ').repeat(3);
                            strLine+= asciNumbers[parseInt(scoreArray[1])][line];
                            strLine+= (' ').repeat(3);
                            strLine+= asciNumbers[parseInt(scoreArray[2])][line];
                            strLine+= (' ').repeat(15);
                        return strLine;
                    },
                    startChronos : function(index) {
                        if(typeof this.chronos[index] !== "undefined") {
                            clearInterval(this.chronos[index]);
                        }
                        // SI ON EST EN PAUSE ON NE FAIS RIEN
                        if (this.statusGame === 'paused') return false;

                        //this.chronos[index] = setInterval(function(){   
                            if(typeof this.chronosValue[index] === "undefined") {
                                this.chronosValue[index] = this.delay;
                            }else{
                                this.chronosValue[index] = this.chronosValue[index]-1;
                            }
                            if(this.chronosValue[index] === 0) {
                                clearInterval(this.chronos[index]);
                                //lorsqu'un chronos se termine on rafraichis la ligne
                                //console.log(this.questions[index].id);
                                _.where(global_questions, {id:this.questions[index].id})[0].refreshed++;
                                this.displayLine(index, "", null, 1);
                            }
                            //if(index === 1){
                                //.log(this.chronosValue[index]);
                                //console.log($('#flap_chronos_'+index));
                                
                                var minutes = Math.floor(this.chronosValue[index] / 60);
                                var seconds = this.chronosValue[index] - minutes * 60;
                                
                                var finalTime = str_pad_left(minutes,'0',2)+':'+str_pad_left(seconds,'0',2),
                                    pix = './pages/boardingpass/images/1x/CHARS_GREEN.png';

                                if(parseInt(minutes) < 3 && parseInt(minutes) >= 1){
                                    pix = './pages/boardingpass/images/1x/CHARS_YELLOW.png';
                                }else if(parseInt(minutes) < 1){
                                    pix = './pages/boardingpass/images/1x/CHARS_RED.png';
                                }

                                
                                $('#flap_chronos_'+index)
                                    .splitFlap({
                                        image: pix,
                                        charWidth:  this.flapParams.charWidth * this.ratio,
                                        charHeight: this.flapParams.charHeight * this.ratio,
                                        imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                        charsMap:   this.flapParams.charsMap,
                                        charSubstitute: this.flapParams.charSubstitute,
                                        speed:          0,
                                        speedVariation: 0,
                                        autoplay:   true,
                                        text:       finalTime,
                                        textInit: finalTime
                                    });
                                
                                
                                //.setText(this.chronosValue[index]/60);
                            //}
                        //}.bind(this), 1000);
                    },
                    defaultFunc: function() {
                        console.log('default function');
                    },
                    displayLine: function(id, value) {
                        // this.questions[id].question = "HELL BILLU";
                        var self = this;
                        // ON CREE UN ARRAY DEPUIS global_questions EN SUPPRIMANT LES QUESTIONS EN COURS D'AFFICHAGE POUR EVITER LES DOUBLONS
                        var possibilities = this.withoutCurrentQuestions();
                        // console.log(possibilities);
                        // TODO GET WITHOUT REFRESH
                        // this.questions[id] = _.shuffle(_.where(possibilities, {success:0, refreshed:0})).slice(0, 1)[0];
                        // TODO IF NO RESPONSE GET INSIDE REFRESH
                        // if(typeof this.questions[id] === "undefined"){
                            // console.log('TOUTES LES QUESTIONS ON ETE RAFRAICHIES ON CHERCHE LES MOINS RAFERAICHIES DU COUP');
                            // SORTBY on reorganise par frequence de rafraichissement retourne du plus grand au plus petit
                            // SHUFFLE on melange le tableau dans le cas ou tous auraient le meme refreshed pour créer un random
                            // WHERE on check les questions non répondues avec un status refreshed différent de 0 car dans le IF exception
                            // REVERSE on reorganise pour avoir le moins rafrazichi en premier
                            // SLICE on ne retourne que la premiere ligne du tableau
                            // [0] comme c'est un tableau on ne retourne que le premier object de ce dernier...
                        this.questions[id] = _.sortBy(
                            _.shuffle(_.where(possibilities, {success:0}))
                            , function(o) { 
                                // ICI ON REOGRANISE PAR ORDRE DE RAFRAICHISSEMENTs
                                return possibilities.refreshed; 
                            }
                        ).reverse().slice(0, 1)[0];
                        //}
                        var removeHour = false;
                        if (typeof this.questions[id] === "undefined") {
                            var noq = 'il n\'y a plus de questions';
                            this.questions[id] = {
                                "question": noq + (' ').repeat(this.maxChar - noq.length), 
                                "answer": " ",
                                "success": 0,
                                "refreshed": 0,
                                "level": 0
                            };
                            removeHour = true;
                            //return false;
                        }

                        this.socket.emit('boardingpass', {status:"questionRefreshed", id:id, question:this.questions[id]});

                        value = this.questions[id].question;  
                        
                        console.log('BEFORE CONFIG VALUE DISPLAY LINE ', this.questions[id]);

                        value = this.configValue(this.questions[id].id, value);
                        clearInterval(this.chronos[id]);
                        this.chronosValue[id] = this.delay;

                        $("#flap_"+id).html(value);
                        $("#flap_"+id)
                            .splitFlap({
                                image:      this.flapParams.image,
                                charWidth:  this.flapParams.charWidth * this.ratio,
                                charHeight: this.flapParams.charHeight * this.ratio,
                                imageSize:  (this.flapParams.imageSize.width * this.ratio) + 'px ' + (this.flapParams.imageSize.height * this.ratio) + 'px',
                                charsMap:   this.flapParams.charsMap,
                                charSubstitute: this.flapParams.charSubstitute,
                                speed:          this.flapParams.speed,
                                speedVariation: this.flapParams.speedVariation,
                                autoplay:   true,
                            	text:       value,
                                onComplete: function () {
                                    // console.log('Done !');
                                    // self.startChronos(id);
                                    if(self.settings.chronoline) {
                                        var splitval = self.settings.chronolineduration.split(':');
                                        self.delay = (parseInt(splitval[0]) * 60) + parseInt(splitval[1]);
                                        self.startChronos(id);
                                    } else {
                                        self.chronos.forEach(function(element, index) {
                                            clearInterval(self.chronos[index]);
                                        });
                                        if(removeHour){
                                            var hour = '00';
                                            var min = '00';
                                        }else{
                                            var hour = str_pad_left(15 + Math.floor(Math.random() * 8), '0', 2);
                                            var min = str_pad_left(Math.floor(Math.random() * 60), '0', 2);
                                        }
                                        $('#flap_chronos_'+id)
                                            .splitFlap({
                                                image: './pages/boardingpass/images/1x/CHARS_YELLOW.png',
                                                charWidth:  self.flapParams.charWidth * self.ratio,
                                                charHeight: self.flapParams.charHeight * self.ratio,
                                                imageSize:  (self.flapParams.imageSize.width * self.ratio) + 'px ' + (self.flapParams.imageSize.height * self.ratio) + 'px',
                                                charsMap:   self.flapParams.charsMap,
                                                charSubstitute: self.flapParams.charSubstitute,
                                                speed:          0,
                                                speedVariation: 0,
                                                autoplay:   true,
                                                text:       hour+':'+min,
                                                textInit:   hour+':'+min
                                            });
                                    }
                                }
                            });
                        //$("#flap_"+id).splitFlap('splitflap').animate();
                        //this.forbans[id].setValue(value);
                    },
                    configValue:function(id, value) {
                        var space = " ";
                        (value.length < this.maxChar-4)? value += space.repeat((this.maxChar-4) - value.length) : value = value.substring(0, this.maxChar-4);
                        value = value.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toUpperCase();
                        //console.log(id.toString().length);
                        if(typeof id !== "undefined"){
                            if(id.toString().length === 1){
                                //console.log('ADD 00');
                                value = "00"+id+" "+value;
                            }else if(id.toString().length === 2){
                                //console.log('ADD 0');
                                value = "0"+id+" "+value;
                            }else{
                                value = id+" "+value;
                            }
                        }else{
                            value = "000 "+space.repeat(this.maxChar-4);
                        }

                        return value;
                    },
                    withoutCurrentQuestions: function() {
                        var a = [];
                        switch(this.level){
                            case 1:
                                a = _.clone( _.where(global_questions, {"level" : 1, "success" : 0}) );
                                break;
                            case 2:
                                a = _.union( _.where(global_questions, {"level" : 2, "success" : 0}), _.clone( _.where(global_questions, {"level" : 1, "success" : 0}) ));
                                break;
                            case 3:
                                a = _.clone( _.where(global_questions, {"success" : 0}) );
                                break;
                        }

                        // on selectionne les questions inférieures ou égales au level en cours
                        // var a = _.clone( _.where(global_questions, {"level" : this.level, "success" : 0}) );
                        var next = [];
                        var prev = [];
                        // seulement si il y a moins de 17 questions non validées dans le level en cours :
                        if(a.length < this.totalQuestion) {
                            // ON DOIT AJOUTER LE LEVEL INTERMEDIAIRE DANS LA RECHERCHE
                            switch(this.level){
                                case 1 :
                                    var next =  _.clone( _.where(global_questions, {"level" : 2, "success" : 0}) );
                                    break;
                                case 2 :
                                    var next =  _.clone( _.where(global_questions, {"level" : 3, "success" : 0}) );
                                    break;
                                case 3 : 
                                    var next =  _.clone( _.where(global_questions, {"level" : 2, "success" : 0}) );
                                    break;
                            }
                        }
                        // si pas assez de question on fait une concatenation du level supérieur ou inférieur
                        a = _.union(a, next);
                        console.log('concat without ', a);
                        // si le level suivant + le level en cours a moins de 17 questions non validées on concat le level inférieur
                        if(a.length < this.totalQuestion) {
                            // ON DOIT AJOUTER LE LEVEL INTERMEDIAIRE DANS LA RECHERCHE
                            switch(this.level){
                                case 1 :
                                    var prev =  _.clone( _.where(global_questions, {"level" : 3, "success" : 0}) );
                                    break;
                                case 2 :
                                    var prev =  _.clone( _.where(global_questions, {"level" : 1, "success" : 0}) );
                                    break;
                                case 3 : 
                                    var prev =  _.clone( _.where(global_questions, {"level" : 1, "success" : 0}) );
                                    break;
                            }
                        }
                        // on réitére la concatenation car on c'est plus simple...
                        a = _.union(a, prev);

                        // _.where(global_questions, {"level" : "<=" + this.level});
                        // on observe les questions en cours
                        var b = _.clone( this.questions );
                        // on supprimer les entrées B de A
                        b.forEach( function(item, index) {
                            console.log("item ::: ", item);
                            console.log("find where ::: ", item.id, _.findWhere(a, {id: item.id}) );
                            a = _.without( a, _.findWhere(a, {id: item.id}) );
                            // _.where(a, {id:item.id});
                        });
                        console.log('concat without prev current ', a);
                        // on retourne par ordre des moins rafraichis pour éviter de retomber sur les mêmes questions
                        
                        return _.sortBy(_.shuffle(a), function(item){ return item.refreshed; }).reverse();
                        // onlyInA.concat(onlyInB);
                    }
                }
            });

            window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                              window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;


            var start = null,
                progress = null;

            //var d = document.getElementById("SomeElementYouWantToAnimate");

            function step(timestamp) {
                if (start === null) start = timestamp;
                progress = timestamp - start;
                
                //d.style.left = Math.min(progress/10, 200) + "px";
                if (progress > 1000) {
                    if(typeof vm.chronos !== "undefined"){
                        //console.log('tot : ',Math.min(progress/10, 200));
                        if(vm.settings.chronoline){
                            vm.chronosValue.forEach(function(element, index){
                                //console.log(element);
                                element--;
                                vm.startChronos(index);
                            });
                        }
                        //if(vm.settings.chronolap){
                            //console.log("update chronos ", new Date().getTime(), " : ", vm.remainingTime);
                            vm.clockUpdate();
                        //}
                    }
                    start = timestamp
                }else{
                }
                requestAnimationFrame(step);
            }

            requestAnimationFrame(step);
            function str_pad_left(string, pad, length) {
                return (new Array(length+1).join(pad)+string).slice(-length);
            }


            var asciNumbers = [
                [
                    " 00000000 ",
                    "000    000",
                    "000    000",
                    "000    000",
                    "000    000",
                    "000    000",
                    " 00000000 "
                ],
                [
                    "    111   ",
                    "   1111   ",
                    " 111111   ",
                    "    111   ",
                    "    111   ",
                    "    111   ",
                    " 111111111"
                ],
                [
                    "222222222 ",
                    "       222",
                    "       222",
                    "     222  ",
                    "   222    ",
                    " 222      ",
                    "2222222222"
                ],
                [
                    "333333333 ",
                    "       333",
                    "       333",
                    "   333333 ",
                    "       333",
                    "       333",
                    "333333333 "
                ],
                [
                    "    4444  ",
                    "   44444  ",
                    "  44 444  ",
                    " 44  444  ",
                    "4444444444",
                    "     444  ",
                    "     444  " 
                ],
                [
                    "5555555555",
                    "555       ",
                    "555       ",
                    "555555555 ",
                    "       555",
                    "       555",
                    "555555555 "
                ],
                [
                    "  6666666 ",
                    " 666      ",
                    "666       ",
                    "666666666 ",
                    "666    666",
                    "666    666",
                    " 66666666 "
                ],
                [
                    "7777777777",
                    "       777",
                    "       777",
                    "   777777 ",
                    "     777  ",
                    "    777   ",
                    "   777    "
                ],
                [
                    " 88888888 ",
                    "888    888",
                    "888    888",
                    "  888888  ",
                    "888    888",
                    "888    888",
                    " 88888888 "
                ],
                [
                    " 99999999 ",
                    "999    999",
                    "999    999",
                    "  99999999",
                    "       999",
                    "      999 ",
                    "  999999  "
                ]
            ];
        </script>

        <style>
            .pausedStatus {
                position: absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                z-index: 99;
            }
            .pausedStatus .centered_icon {
                width: 500px;
                height: 500px;
                position: absolute;
                background: rgba(0,0,0,.7);
                border-radius: 250px;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            .pausedStatus .centered_icon span {
                width: 50px;
                height: 250px;
                position: absolute;
                top:0;
                bottom:0;
                left:280px;
                background: #FFF;
                border-radius: 4px;
                margin:auto;
            }
            .pausedStatus .centered_icon span:nth-child(1){
                left:160px;
            }
        </style>
    </body>
</html>

