
<!doctype html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <meta http-equiv="Access-Control-Allow-Origin" content="*">
      <title>NJOY</title>
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link rel="stylesheet" type="text/css" href="fonts/franchise/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="node_modules/material-design-icons/iconfont/material-icons.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <link rel="stylesheet" type="text/css" href="css/components.css">
        <script type="text/javascript" src="js/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="node_modules/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="node_modules/gsap/src/minified/TweenMax.min.js"></script>
        <script type="text/javascript" src="node_modules/gsap/src/minified/TweenLite.min.js"></script>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="node_modules/iscroll/build/iscroll.js"></script>
        <script type="text/javascript" src="node_modules/jquery-lazyload/jquery.lazyload.js"></script>
        <script type="text/javascript" src="js/EaselJS/lib/easeljs-0.8.1.combined.js"></script>
        <script type="text/javascript" src="js/confettis.js"></script>
        <script type="text/javascript" src="js/ui.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
      <script>
        function rgb2hex(rgb){
         rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
         return (rgb && rgb.length === 4) ? "#" +
          ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
          ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
          ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
        }
        var colors = {
            "purple":"#612B9B",
            "green":"#44AC34",
            "orange":"#FF821D",
            "lighblue":"#33CAD2",
            "pink":"#E41694",
            "maroon":"#784217",
            "grey":"#7D868B",
            "red":"#DA0036",
            "fblue":"#0095A7",
            "yellow":"#FFCF00",
            "dgreen":"#008274",
            "sblue":"#465FC4",
            "blue":"#042367",
            "black":"#000000"
        }

        document.ontouchmove = function(event){
            //console.log(event);
            //event.preventDefault();
        }
        $(function () {
          ui.init();
        });
      </script>
      <script type="text/template" id="teams_template">
        <div class="teams_display" id="teams_display">
          <ul>
            <% for(var i=0; i<teams.length; i++){ %>
              <li>
                <div class="label"><%= teams[i].label %></div>
                <div class="score"><%= teams[i].score %></div>
                <div class="erlenmeyer">
                  <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                  <style type="text/css">
                  	.st0{opacity:0.93;fill:#B7DEEA;}
                  	.st1{fill:#8CB4C1;}
                  	.st2{opacity:0.7;fill:#FFFFFF;}
                  	.st3{clip-path:url(#SVGID_2_);}
                  </style>
                  <g>
                  	<g>
                  		<path class="st0" d="M46.4,235.3c0-0.2,0.1-0.5,0.2-0.7L46.4,235.3z"/>
                  		<path class="st0" d="M208.4,235.3l-0.2-0.7C208.3,234.8,208.4,235.1,208.4,235.3z"/>
                  		<path class="st0" d="M208.4,235.3c0,5.6-36.3,10.1-81,10.1c-44.7,0-81-4.5-81-10.1l0.2-0.7l55.2-154l-1.9-21l55.9,0.3l-3.7,20.7
                  			l56.1,154L208.4,235.3z"/>
                  		<ellipse class="st1" cx="128" cy="60.3" rx="28.1" ry="4.4"/>
                  	</g>
                  </g>
                  <path class="st2" d="M194.9,227.5L155,108c0,0-11.4-6-30-6s-26,2.4-26,4c0,0-38.8,121.5-38.8,121.8c0,2.8,30.2,5.1,67.4,5.1
                  	s67.4-2.3,67.4-5.1C195,227.7,194.9,227.6,194.9,227.5z"/>
                  <g>
                  	<defs>
                  		<path id="SVGID_1_" d="M194.9,227.5L155,108c0,0-11.4-6-30-6s-26,2.4-26,4c0,0-38.8,121.5-38.8,121.8c0,2.8,30.2,5.1,67.4,5.1
                  			s67.4-2.3,67.4-5.1C195,227.7,194.9,227.6,194.9,227.5z"/>
                  	</defs>
                  	<clipPath id="SVGID_2_">
                  		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                  	</clipPath>
                    <rect id="progress" x="39" y="<%= 224-parseInt(teams[i].score) %>" class="st3" width="176" height="200" fill="<%= teams[i].color %>"/>
                  </g>
                  </svg>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </script>



      <div class="teams">
          <div class="cross_button">
            <img src="img/cross_icon.svg"/>
          </div>
          <ul id="team_list">
          </ul>
          <form class="form">
              <h3>Créer une team</h3>
              <label for="team_name">Entrer le nom de la team</label>
              <input type="text" name="team_name" id="team_name" placeholder="Nom de la team"/>
              <button id="add_team" class="classic_button">Ajouter</button>
          </form>
      </div>
      <script type="text/template" id="team_template">
          <li data-id="<%= id %>">
              <div class="name"><%= label %></div>
              <button id="delete_button" data-id="<%= id %>" class="classic_button error delete_team_button">
                  <img src="img/delete_icon.svg"/>
              </button>
              <button id="more_button"  data-id="<%= id %>" class="classic_button more_score_button">+</button>
              <input type="number" class="score set_score_input" data-id="<%= id %>" value="<%= score %>"/>
              <button id="less_button" data-id="<%= id %>" class="classic_button less_score_button">-</button>
          </li>
      </script>
      <div class="video_asset player_audio_video">
          <div class="player_nav">
              <div class="center_assets">
                  <input class="seeker" id="seeker" name="seeker" type="range" max="100" min="0" step="1" value="0" >
                  <div class="icon play" id="play_pause_button">
                    <img src="img/play_icon.svg"/>
                  </div>
                  <div class="icon stop" id="quit_video_button">
                    <img src="img/stop_icon.svg"/>
                  </div>
                  <input class="seeker volume" id="volume" name="volume" type="range" value="50" max="100" min="0" step="1">
              </div>
          </div>
      </div>
      
      <div class="audio_asset player_audio_video">
          <div class="player_nav">
              <div class="center_assets">
                  <input class="seeker" id="seeker" name="seeker" type="range" max="100" min="0" step="1" value="0" >
                  <div class="icon play" id="play_pause_button">
                    <img src="img/play_icon.svg"/>
                  </div>
                  <div class="icon stop" id="quit_video_button">
                    <img src="img/stop_icon.svg"/>
                  </div>
                  <input class="seeker volume" id="volume" name="volume" type="range" value="50" max="100" min="0" step="1">
              </div>
          </div>
      </div>
    </body>
</html>