<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title>NJOY</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/receptor.css">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/lettering.js"></script>
        <script type="text/javascript" src="js/EaselJS/lib/easeljs-0.8.1.combined.js"></script>
        <script type="text/javascript" src="node_modules/gsap/TweenMax.js"></script>
        <script type="text/javascript" src="js/socket.io/socket.io.js"></script>
        <script src="node_modules/vue/dist/vue.min.js"></script>
    </head>
    <body>
        <div id="receptor">
            <div class="contentBackground" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.background + ')' }"></div>  
            <div class="pictureComponent" v-show="infos.datas.status === 'picture'">
                <img v-bind:src="infos.datas.file"/>
            </div>
            <div class="wordComponent" v-show="infos.datas.status === 'word'">
                <div class="container">
                    <h1 class="word_label">{{ infos.datas.word }}</h1>
                </div>
            </div>
            <div class="chronos" v-bind:class="chronosClass" v-show="typeof infos.datas.chronos !== 'undefined'">
                <div class="chronos_bar" v-show="infos.datas.chronos > 0">
                    <div class="chronos_progress" v-bind:style="{ width : infos.datas.chronosProgress + '%' }"></div>
                </div>
                <div class="chronos_count" v-show="infos.datas.chronos > 0">{{ infos.datas.chronos }}</div>
                <h1 v-show="infos.datas.chronos === 0">TIME'S UP</h1>
            </div>
            <div class="teams" v-show="this.infos.datas.teams.length > 0">
                <ul>
                    <li v-for="team in this.infos.datas.teams">
                        <div class="teamAsset" v-bind:style="{ backgroundColor : team.color }">
                            <div class="teamScore">{{ team.score }}</div>
                        </div>
                        <div class="teamLabel">{{ team.label }}</div>
                    </li>
                </ul>
            </div>
            <div class="golden_family" v-show="typeof infos.datas.gf !== 'undefined'">
                
                <ul class="choices">
                    <h3>{{ infos.datas.gfDesc }}</h3>
                    <li v-for="purposes in infos.datas.gf" class="panel" v-bind:class="{ selected : purposes.value }">
                        <div class="front"></div>
                        <div class="back">
                            {{ purposes.label }}
                            <div class="points">5</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dessinezcestgagne" v-show="infos.datas.status === 'is_drawing'">
                <div class="module_drawing"></div>
            </div>
            <div class="contentBackground">
                <div class="tl" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tl + ')' }"></div>
                <div class="tc" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tc + ')' }"></div>
                <div class="tr" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tr + ')' }"></div>
                <div class="bl" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.bl + ')' }"></div>
                <div class="bc" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.bc + ')' }"></div>
                <div class="br" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.br + ')' }"></div>
            </div>
        </div>
        <script>
            var vm = new Vue({
                el: '#receptor',
                data: {
                    activities: [],
                    message: 'RECEPTOR',
                    infos:{
                        datas:{
                            tools:{
                                background:"/img/logo_fullscreen.svg"
                            },
                            teams: []
                        },
                        teams: []
                    },
                    socket: io(window.location.origin, {transports: ['websocket', 'xhr-polling']})
                },
                created: function(){
                    this.socket.on('error', function(e) {
                        console.log('error socket');
                    });
                    this.socket.on('connect_failed', function(e) {
                        console.log("connect_failed");
                    });
                    this.socket.on('connect', function(e) {
                        console.log("socket_connected");
                    });
                    this.socket.on('njoy', function(datas) {
                        console.log(datas);
                        if(datas.status === "teams"){
                            this.infos.datas.teams = datas.datas.teams;
                            return false;
                        }
                        if(typeof datas.datas === "undefined"){
                            return false;
                        }
                        if(datas.datas.status === "FX" || datas.datas.status.indexOf('audio') !== -1 || datas.datas.status.indexOf('video') !== -1){
                            return false;
                        }
                        
                        
                        if(datas.datas.status === "fail" || datas.datas.status === "success"){
                            delete this.infos.datas.chronos;
                            delete this.infos.datas.chronosCount;
                            
                            if(typeof datas.datas.word !== "undefined" && datas.datas.word !== ""){
                                this.infos.datas.word = datas.datas.word;
                                if(typeof datas.datas.attributs !== "undefined" && datas.datas.attributs !== ""){
                                    //TODO lister les attributs et vérifier si le display est regis ?
                                    if(typeof JSON.parse(datas.datas.attributs).prix !== "undefined"){
                                        this.infos.datas.word += " "+JSON.parse(datas.datas.attributs).prix;
                                    }
                                }
                                this.infos.datas.status = "word";
                                this.displayWord();
                            }
                            switch(datas.datas.status){
                                case 'success':
                                    this.socket.emit("njoy", {
                                        data: "ressources/crazyshow/fx/regis_applau.svg",
                                        file: "ressources/audio/applau.mp3",
                                        status: "FX"
                                    });
                                    break;
                                case 'fail':
                                    this.socket.emit("njoy", {
                                        data: "ressources/crazyshow/fx/regis_huer.svg",
                                        file: "ressources/audio/huee.mp3",
                                        status: "FX"
                                    });
                                    break;
                            }
                            
                            return false;
                        }
                        
                        if(typeof datas.datas !== "undefined"){
                            if(typeof datas.datas.tools === "undefined"){
                                datas.datas.tools = this.infos.datas.tools;
                            }
                            if(datas.datas.status !== "golden_family"){
                                this.infos = datas;
                            }
                        }
                        switch (datas.datas.status) {
                            case "init_drawing":
                                $('.module_drawing').html('');
                                TweenMax.killAll();
                                //this.socket.emit('njoy', {status:'stop_video'});
                                //this.socket.emit('njoy', {status:'stop_audio'});
                                datas.datas.status = "is_drawing";
                                setTimeout($.proxy(function(){
                                    this.initDrawing(datas.datas);
                                }, this), 300);
                                
                                break;
                            case "drawing":
                                datas.datas.status = "is_drawing";
                                this.drawing(datas.datas);
                                break;
                            case "drawing_point":
                                datas.datas.status = "is_drawing";
                                this.drawing_point(datas.datas);
                                break;
                            case 'success':
                                console.log('SUCCESS');
                                break;
                            case 'fail':
                                console.log('FAIL');
                                break;
                            case 'picture':
                                break;
                            case 'splash':
                                break;
                            case 'video':
                                break;
                            case 'golden_family':
                                this.infos.datas.gf[parseInt(datas.datas.response)].value = 1;
                                break;
                            case 'word':
                                this.infos.datas.word = datas.datas.tools.menu[parseInt(datas.datas.menu)].components.word_component[parseInt(datas.datas.component_id)].label;
                                this.displayWord();
                                break;
                            case 'object':
                                if(datas.datas.component === "golden_family") {
                                    var gf = [],
                                        choices = datas.datas.tools.menu[parseInt(datas.datas.menu)].components.golden_family[parseInt(datas.datas.component_id)].choices;
                                    for(var i=0; i<choices.length; i++){
                                        gf.push({label:choices[i], value:0});
                                    }
                                    this.infos.datas.gfLabel = datas.datas.tools.menu[parseInt(datas.datas.menu)].components.golden_family[parseInt(datas.datas.component_id)].label;
                                    this.infos.datas.gfDesc = datas.datas.tools.menu[parseInt(datas.datas.menu)].components.golden_family[parseInt(datas.datas.component_id)].desc;
                                    this.infos.datas.gf = gf;
                                }
                                break;
                            default:
                                break;
                        }
                        if(this.infos.datas.chronos !== "undefined"){
                            this.infos.datas.chronosCount = parseInt(this.infos.datas.chronos);
                            this.infos.datas.chronosProgress = 0;
                            this.startChronos();
                        }
                    }.bind(this));
                },
                computed: {
                    chronosClass: function(){
                        return {
                            lastFive: this.infos.datas.chronos <= 5 && this.infos.datas.chronos > 0,
                            timesUp: this.infos.datas.chronos === 0
                        }
                    }
                },
                methods: {
                    startChronos: function() {
                        if(typeof this.timeout !== "undefined"){
                            clearTimeout(this.timeout);
                        }
                        if(parseInt(this.infos.datas.chronos) > 0){
                            this.timeout = setTimeout(function () { 
                                this.infos.datas.chronos = parseInt(this.infos.datas.chronos)-1;
                                this.infos.datas.chronosProgress = (this.infos.datas.chronos / this.infos.datas.chronosCount) * 100;
                                this.startChronos();
                            }.bind(this), 1000);
                        }else{
                            this.timeout = setTimeout(function () { 
                                this.infos.datas.chronos = -1;
                                this.deleteChronos();
                            }.bind(this), 3000);
                        }
                    },
                    deleteChronos: function() {
                        delete this.infos.datas.chronos;
                    },
                    displayWord: function(){
                        $('.word_label').html(this.infos.datas.word);
                        $(".word_label").lettering();
                        var title1 = new TimelineMax();
                        //title1.to(".button", 0, {visibility: 'hidden', opacity: 0})
                        title1.staggerFromTo(".word_label span", 0.5, 
                        {ease: Back.easeOut.config(1.7), opacity: 0, bottom: -80},
                        {ease: Back.easeOut.config(1.7), opacity: 1, bottom: 0}, 0.05);
                        //title1.to(".button", 0.2, {visibility: 'visible' ,opacity: 1})
                    },
                    initDrawing: function(datas){
                        $('.dessinezcestgagne').css('display', 'block');
                        $('.module_drawing').append('<canvas id="drawing" width="'+datas.width+'" height="'+datas.height+'"></canvas>');
                        //this.drawing_tool = new drawer("drawing", datas.width, datas.height);
                        this.canvas = document.getElementById("drawing");
                        this.canvas.style.backgroundColor = "#FFFFFF";


                        // TODO REMOVE TEST SIZE
                        /*this.canvas.width = datas.width;
                        this.canvas.height = datas.height;

                        this.canvas.style.width = datas.width;
                        this.canvas.style.height = datas.height;*/

                        this.canvas.width = datas.width;
                        this.canvas.height = datas.height;

                        this.canvas.style.width = window.innerWidth;
                        this.canvas.style.height = window.innerHeight;
                        
                        
                        $('#canvas_id').css({
                        "width":$('body').width()+'px !important',
                        "height":$('body').height()+'px !important'
                        });
                        
                        this.stage = new createjs.Stage("drawing");
                        this.stage.autoClear = true;
                        this.stage.update();

                        this.currentShape = [];
                        var s = new createjs.Shape();
                        this.currentShape[0] = s;
                        var g = s.graphics;
                        
                        g.beginStroke("#000000");
                        this.stage.addChild(s);

                        //this.stage = new createjs.Stage("drawing");
                        this.stage.autoClear = true;
                        this.stage.update();

                    },
                    drawing: function(datas){
                        //console.log('draw ', this.currentShape[this.currentShape.length-1].graphics);
                        var pt = new createjs.Point(datas.x, datas.y);
                        var midPoint = new createjs.Point(this.oldX + pt.x>>1, this.oldY+pt.y>>1);
                        if(typeof this.currentShape[this.currentShape.length-1] != "undefined"){
                            this.currentShape[this.currentShape.length-1].graphics.setStrokeStyle(datas.strokestyle.size, datas.strokestyle.stylingW, datas.strokestyle.stylingH);
                            this.currentShape[this.currentShape.length-1].graphics.moveTo(midPoint.x, midPoint.y);
                            this.currentShape[this.currentShape.length-1].graphics.curveTo(this.oldX, this.oldY, this.oldMidX, this.oldMidY);
                        }
                        this.oldX = pt.x;
                        this.oldY = pt.y;

                        this.oldMidX = midPoint.x;
                        this.oldMidY = midPoint.y;
                        this.stage.update();
                    },
                    drawing_point: function(datas){
                        this.oldX = datas.x;
                        this.oldY = datas.y;
                        //var pt = new createjs.Point(datas.x, datas.y);
                        this.currentShape[this.currentShape.length-1].graphics.endStroke().endFill();
                        //this.currentShape[this.currentShape.length].graphics.endStroke();
                        var s = new createjs.Shape();
                        this.currentShape[this.currentShape.length] = s;
                        var g = s.graphics;
                        g.beginStroke("#000000");
                        this.stage.addChild(s);
                        g.moveTo(datas.x, datas.y);
                    }
                }
            });



            /*var drawer = function(canvas_id, width, height){
                vm.canvas = document.getElementById(canvas_id);
                // TODO REMOVE TEST SIZE
                vm.canvas.width = width;
                vm.canvas.height = height;

                vm.canvas.style.width = width;
                vm.canvas.style.height = height;
                $('#canvas_id').css({
                    "width":$('body').width()+'px !important',
                    "height":$('body').height()+'px !important'
                })
                vm.stage = new createjs.Stage(canvas_id);
                vm.stage.autoClear = true;
                vm.stage.update();

                vm.currentShape = [];
                vm s = new createjs.Shape();
                vm.currentShape[0] = s;
                var g = s.graphics;

                g.beginStroke("#000000");
                vm.stage.addChild(s);
                // TODO : on receive ticker from user update stage 
                //createjs.Ticker.addEventListener("tick", $.proxy(function(){this.update();},this));
            }*/

        </script>
        <style>
            
        </style>
    </body>
</html>