<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title>NJOY</title>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/receptor.css">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <script type="text/javascript" src="js/socket.io/socket.io.js"></script>
        <script src="node_modules/vue/dist/vue.min.js"></script>
    </head>
    <body>
        <div id="receptor">
            <div class="contentBackground" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.background + ')' }"></div>  
            <div class="pictureComponent" v-show="infos.datas.status === 'picture'">
                <img v-bind:src="infos.datas.file"/>
            </div>
            <div class="chronos" v-bind:class="chronosClass" v-show="typeof infos.datas.chronos !== 'undefined'">
                <div class="chronos_bar" v-show="infos.datas.chronos > 0">
                    <div class="chronos_progress" v-bind:style="{ width : infos.datas.chronosProgress + '%' }"></div>
                </div>
                <div class="chronos_count" v-show="infos.datas.chronos > 0">{{ infos.datas.chronos }}</div>
                <h1 v-show="infos.datas.chronos === 0">TIME'S UP</h1>
                
            </div>
            <div class="teams" v-show="this.infos.datas.teams.length > 0">
                NOUS AVONS DES EQUIPES
                <ul>
                    <li v-for="team in this.infos.datas.teams">
                        <div class="teamAsset" v-bind:style="{ backgroundColor : team.color }"></div>
                        <div class="teamLabel">{{ team.label }}</div>
                        <div class="teamScore">{{ team.score }}</div>
                    </li>
                </ul>
            </div>
            <div class="golden_family" v-show="typeof infos.datas.gf !== 'undefined'">
                <ul class="choices">
                    <li v-for="purposes in infos.datas.gf">
                        <div class="panel" v-bind:class="{ selected : purposes.value }">
                            <div class="front"></div>
                            <div class="back">
                                {{ purposes.label }}
                                <div class="points">5</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contentBackground">
                <div class="tl" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tl + ')' }"></div>
                <div class="tc" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tc + ')' }"></div>
                <div class="tr" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.tr + ')' }"></div>
                <div class="bl" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.bl + ')' }"></div>
                <div class="bc" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.bc + ')' }"></div>
                <div class="br" v-bind:style="{ backgroundImage: 'url(' + infos.datas.tools.br + ')' }"></div>
            </div>
        </div>
        <script>
            var vm = new Vue({
                el: '#receptor',
                data: {
                    activities: [],
                    message: 'RECEPTOR',
                    infos:{
                        datas:{
                            tools:{
                                background:""
                            }
                        }
                    },
                    socket: io(window.location.origin, {transports: ['websocket', 'xhr-polling']})
                },
                created: function(){
                    this.socket.on('error', function(e) {
                        console.log('error socket');
                    });
                    this.socket.on('connect_failed', function(e) {
                        console.log("connect_failed");
                    });
                    this.socket.on('connect', function(e) {
                        console.log("socket_connected");
                    });
                    this.socket.on('njoy', function(datas) {
                        console.log(datas);
                        if(typeof datas.datas !== "undefined"){
                            if(typeof datas.datas.tools === "undefined"){
                                datas.datas.tools = this.infos.datas.tools;
                            }
                            if(datas.datas.status !== "golden_family"){
                                this.infos = datas;
                            }
                        }
                        

                        switch (datas.datas.status) {
                            case 'success':
                                console.log('SUCCESS');
                                break;
                            case 'fail':
                                console.log('FAIL');
                                break;
                            case 'picture':
                                break;
                            case 'splash':
                                break;
                            case 'video':
                                break;
                            case 'golden_family':
                                this.infos.datas.gf[parseInt(datas.datas.response)].value = 1;
                                break;
                            case 'object':
                                if(datas.datas.component === "golden_family") {
                                    var gf = [],
                                        choices = datas.datas.tools.menu[parseInt(datas.datas.menu)].components.golden_family[parseInt(datas.datas.component_id)].choices;
                                    for(var i=0; i<choices.length; i++){
                                        gf.push({label:choices[i], value:0});
                                    }
                                    this.infos.datas.gf = gf;
                                    console.log('this.infos.datas.choices ', this.infos.datas.gf);
                                }
                                break;
                            default:
                                break;
                        }
                        if(this.infos.datas.chronos !== "undefined"){
                            this.infos.datas.chronosCount = parseInt(this.infos.datas.chronos);
                            this.infos.datas.chronosProgress = 0;
                            this.startChronos();
                        }
                    }.bind(this));
                },
                computed: {
                    chronosClass: function(){
                        return {
                            lastFive: this.infos.datas.chronos <= 5 && this.infos.datas.chronos > 0,
                            timesUp: this.infos.datas.chronos === 0
                        }
                    }
                },
                methods: {
                    startChronos: function() {
                        if(typeof this.timeout !== "undefined"){
                            clearTimeout(this.timeout);
                        }
                        if(parseInt(this.infos.datas.chronos) > 0){
                            this.timeout = setTimeout(function () { 
                                this.infos.datas.chronos = parseInt(this.infos.datas.chronos)-1;
                                this.infos.datas.chronosProgress = (this.infos.datas.chronos / this.infos.datas.chronosCount) * 100;
                                this.startChronos();
                            }.bind(this), 1000);
                        }else{
                            this.timeout = setTimeout(function () { 
                                this.infos.datas.chronos = -1;
                                this.deleteChronos();
                            }.bind(this), 3000);
                        }
                    },
                    deleteChronos: function() {
                        delete this.infos.datas.chronos;
                    }
                }
            });
        </script>
        <style>
            
        </style>
    </body>
</html>